@import url('./reset-styles.css');

:root {
  --clr-main: hsl(0, 0%, 0%);

  --clr-light: hsl(0, 0%, 100%);
  --clr-light-hs: 0, 0%;
  --clr-light-hsl: 0, 0%, 100%;

  --clr-accent-primary-hs: 195, 68%;

  --clr-accent-primary-450: hsl(var(--clr-accent-primary-hs), 45%);

  --clr-accent-secondary-hs: 85, 54%;
  --clr-accent-secondary-400: hsl(var(--clr-accent-secondary-hs), 40%);
  --clr-accent-secondary-500: hsl(var(--clr-accent-secondary-hs), 50%);
  --clr-accent-secondary-600: hsl(var(--clr-accent-secondary-hs), 60%);

  font-family: Arial, sans-serif;

  --size-1: 0.0625rem;
  --size-2: 0.125rem;
  --size-3: 0.1875rem;
  --size-4: 0.25rem;
  --size-5: 0.3125rem;
  --size-6: 0.375rem;
  --size-7: 0.4375rem;
  --size-8: 0.5rem;
  --size-9: 0.5625rem;
  --size-10: 0.625rem;
  --size-11: 0.6875rem;
  --size-12: 0.75rem;
  --size-13: 0.8125rem;
  --size-14: 0.875rem;
  --size-15: 0.9375rem;
  --size-16: 1rem;
  --size-17: 1.0625rem;
  --size-18: 1.125rem;
  --size-19: 1.1875rem;
  --size-20: 1.25rem;
  --size-21: 1.3125rem;
  --size-22: 1.375rem;
  --size-23: 1.4375rem;
  --size-24: 1.5rem;
  --size-25: 1.5625rem;
  --size-26: 1.625rem;
  --size-27: 1.6875rem;
  --size-28: 1.75rem;
  --size-29: 1.8125rem;
  --size-30: 1.875rem;
  --size-31: 1.9375rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-45: 2.8125rem;

  --size-50: 3.125rem;
}

/* UTILITY */

.fs-12 {
  font-size: var(--size-12);
}
.fs-14 {
  font-size: var(--size-14);
}
.fs-16 {
  font-size: var(--size-16);
}
.fs-17 {
  font-size: var(--size-17);
}
.el-width-700 {
  width: var(--size-700);
}
.el-width-800 {
  width: var(--size-800);
}
.el-width-900 {
  width: 4rem;
}
.el-width-1000 {
  width: 5rem;
}
.text-light {
  color: var(--clr-light);
}
.text-accent-primary-300 {
  color: var(--clr-accent-primary-300);
}
.text-accent-primary-700 {
  color: var(--clr-accent-primary-700);
}
.text-pass-through-500 {
  color: hsla(var(--clr-light-hsl), 50%);
}
.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}
.bg-accent-500 {
  background-color: var(--clr-accent-primary-500);
}
.bg-accent-700 {
  background-color: var(--clr-accent-primary-700);
}
.bg-accent-secondary-500 {
  background-color: var(--clr-accent-secondary-500);
}
.padding-block-6 {
  padding: var(--size-6) var(--size-6);
}
.padding-block-7 {
  padding: var(--size-7) var(--size-7);
}
.padding-block-9 {
  padding: var(--size-9) var(--size-9);
}
.padding-block-16 {
  padding: var(--size-16) var(--size-16);
}
.btn-secondary {
  font-size: var(--size-14);
  padding: var(--size-6) var(--size-25);
}
.btn-secondary:hover {
  background-color: var(--clr-accent-secondary-600);
}
.container {
  --max-width: 1000px;
  margin-inline: auto;
  max-width: min(var(--max-width), (100% - 10rem));
}
.inline-block {
  display: inline-block;
}
@media all and (max-width: 800px) {
  .container {
    max-width: min(var(--max-width), (100% - 2rem));
  }
}
/* GENERIC ELEMENTS */

button {
  border-radius: var(--size-8);
  white-space: nowrap;
}
button:hover {
  cursor: pointer;
}
input {
  font-size: var(--size-18);
  max-width: 100%;
  padding: var(--size-2);
  padding-left: 2.3rem;

  border: 1px solid hsl(var(--clr-light-hs), 90%);
  border-radius: var(--size-8);
}

/* GENERAL STYLING */

/* PRIMARY HEADER */
.primary-header {
  background-color: var(--clr-accent-primary-450);
  position: relative;
  z-index: 1;
  padding: var(--size-9) 0;
  box-shadow: 0 var(--size-3) var(--size-5) hsl(var(--clr-light-hs), 85%);
}
.primary-header_container {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: var(--size-6);
}
.filters-container {
  display: flex;
  align-items: center;
  gap: var(--size-12);
}
.filters-container_list button {
  background-color: transparent;
}
.filters-container_list button:hover {
  color: var(--clr-accent-primary-900);
}
.filters-container_list .active {
  color: var(--clr-light);
  background-color: hsla(var(--clr-light-hsl), 0.1);
}
@media all and (max-width: 420px) {
  .primary-header_container {
    flex-direction: column;
    gap: var(--size-18);
    align-items: center;
  }
}

/* CONTENT */
.content_header {
  background-color: hsl(var(--clr-light-hs), 97%);
  padding: var(--size-17) 0;
}
.content_header-container {
  display: flex;
  justify-content: space-between;
}
.search {
  background-image: url('../assets/magnifying-glass.svg');
  background-repeat: no-repeat;
  background-size: var(--size-15);
  background-position: var(--size-12) 50%;
}
.search::placeholder {
  font-size: var(--size-12);
  opacity: 1;
  color: hsl(var(--clr-light-hs), 75%);
}
.content_table-container {
  padding-top: var(--size-32);
}
.content_table {
  width: 100%;
  border-collapse: collapse;
}
.content_table td,
th {
  white-space: nowrap;
  text-align: left;
  border-bottom: 1px solid hsl(var(--clr-light-hs), 90%);
}
.content_table th {
  font-weight: 400;
  color: hsl(var(--clr-light-hs), 70%);
  padding: var(--size-7) var(--size-16);
  font-size: var(--size-12);
}
.content_table td {
  padding: var(--size-14) var(--size-16);
}
.content_table th:nth-child(1) {
  width: 8rem;
}
.content_table th:nth-child(2) {
  width: 15rem;
}
.content_table td:nth-child(1) {
  color: hsl(var(--clr-light-hs), 50%);
  font-size: var(--size-14);
}
.content_table td:nth-child(3) {
  color: hsl(var(--clr-light-hs), 50%);
  font-size: var(--size-14);
}
@media all and (max-width: 520px) {
  .content_header-container {
    flex-direction: column;
    align-items: center;
    gap: var(--size-8);
  }
}
@media all and (max-width: 700px) {
  .content_table thead {
    display: none;
  }
  .content_table tbody,
  .content_table tr,
  .content_table td {
    display: block;
    width: 100%;
  }
  .content_table tr {
    margin-bottom: var(--size-32);
  }
  .content_table tr:nth-child(2n) {
    background-color: hsl(var(--clr-light-hs), 95%);
  }
  .content_table td {
    text-align: right;
    position: relative;
  }
  .content_table td::before {
    color: hsl(var(--clr-light-hs), 70%);
    font-size: var(--size-12);
    content: attr(data-label);
    position: absolute;
    left: var(--size-16);
  }
}
